@charset "UTF-8";
/* здесь подключите шрифты */ld/oswaldregular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("/source/fonts/Lato-Regular.woff2") format("woff2"), url("/source/fonts/lato/Lato-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}