// Общая стилизация кнопок
.button {
  @include font-oswald(16px, $font-weight-normal, $white);
  display: inline-block;
  vertical-align: top;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  min-width: 280px;
  min-height: 40px;
  line-height: 20px;
  padding: 10px 20px;
  background-color: $green;
  box-sizing: border-box;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $dark-green;
  }
}
