@font-face {
  font-family: "Oswald";
  src:
    url("/source/fonts/oswald/oswaldregular.woff2") format("woff2"),
    url("/source/fonts/oswald/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  src:
    url("/source/fonts/oswald/oswaldregular.woff2") format("woff2"),
    url("/source/fonts/oswald/oswaldregular.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  src:
    url("/source/fonts/oswald/oswaldregular.woff2") format("woff2"),
    url("/source/fonts/oswald/oswaldregular.woff") format("woff");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src:
    url("/source/fonts/lato/Lato-Regular.woff2") format("woff2"),
    url("/source/fonts/lato/Lato-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src:
    url("/source/fonts/lato/Lato-Regular.woff2") format("woff2"),
    url("/source/fonts/lato/Lato-Regular.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}
