// Шрифты (после @font-face в fonts.scss)
$oswald: "Oswald", sans-serif;
$lato: "Lato", "Arial", sans-serif;

// Начертания
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// Colors
$white: #ffffff;
$black: #000000;
$dark-black: #111111;
$over-gray: #666666;
$gray: #f2f2f2;
$nano-gray: #bababa;
$light-gray: #cdcdcd;
$middle-gray: #dcdcdc;
$example-gray: #eaeaea;
$special-gray: #222222;
$dark-gray: #444444;
$green: #68b738;
$dark-green: #5eaa2f;
$red: #ff8282;

// Gradients
$gradient: linear-gradient(
  rgba(104, 183, 56, 0.85) 50%,
  rgba(104, 183, 56, 0.85) 50%
);
