/* здесь используйте глобальные селекторы img, body, html и так далее */
html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $lato;
  font-weight: $font-weight-normal;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  min-width: 320px;
  margin: 0;
  padding: 0;
  background-color: $white;
  color: $dark-gray;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  white-space: nowrap;
}
