@mixin font-lato($size: 16px, $weight: $font-weight-normal, $color: $black) {
  font-family: $lato;
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

@mixin font-oswald($size: 16px, $weight: $font-weight-normal, $color: $black) {
  font-family: $oswald;
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

@mixin reset-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin caption {
  margin: 0;
  font-style: normal;
  font-weight: $font-weight-normal;
  color: $black;
}

@mixin flex-center {
  display: flex;
  align-items: center;
}
@mixin catalog-container {
  min-width: $mobile-width;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    min-width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
    max-width: 1440px;
  }
}

@mixin retina {
  @media (min-resolution: 2dppx) {
    @content;
  }
}
@mixin max-width-mobile {
  @media (max-width: $mobile-width-only) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}
