@mixin font-lato($size: 16px, $weight: $font-weight-normal, $color: $black) {
  font-family: $lato;
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

@mixin font-oswald($size: 16px, $weight: $font-weight-normal, $color: $black) {
  font-family: $oswald;
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

@mixin reset-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin caption {
  margin: 0;
  font-style: normal;
  font-weight: $font-weight-normal;
  color: $black;
}

@mixin flex-center {
  display: flex;
  align-items: center;
}
