@charset "UTF-8";
/* здесь используйте глобальные селекторы img, body, html и так далее */
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  white-space: nowrap;
}

@font-face {
  font-family: "Oswald";
  src:
    url("/source/fonts/oswald/oswaldregular.woff2") format("woff2"),
    url("/source/fonts/oswald/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  src:
    url("/source/fonts/oswald/oswaldregular.woff2") format("woff2"),
    url("/source/fonts/oswald/oswaldregular.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  src:
    url("/source/fonts/oswald/oswaldregular.woff2") format("woff2"),
    url("/source/fonts/oswald/oswaldregular.woff") format("woff");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src:
    url("/source/fonts/lato/Lato-Regular.woff2") format("woff2"),
    url("/source/fonts/lato/Lato-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src:
    url("/source/fonts/lato/Lato-Regular.woff2") format("woff2"),
    url("/source/fonts/lato/Lato-Regular.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}
/* GLOBAL */
.button {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  min-width: 280px;
  min-height: 40px;
  line-height: 20px;
  padding: 10px 20px;
  background-color: #68b738;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: #5eaa2f;
}

/* BLOCKS */
.page-header--index {
  position: relative;
}
.page-header--index::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 50%;
  z-index: -1;
  height: 694px;
  background-image:
    linear-gradient(rgba(104, 183, 56, 0.85) 50%, rgba(104, 183, 56, 0.85) 50%),
    url("/source/img/raster/index-background-desktop-cat@1x.jpg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: cover;
}

.page-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 19px;
  padding-bottom: 20px;
}

.page-header__logo {
  display: flex;
  align-items: center;
  position: relative;
  height: 75px;
  box-sizing: content-box;
}

.main-nav {
  position: relative;
  width: auto;
  margin: 0 auto;
}

.main-nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
  padding-top: 5px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 1200px;
}
.main-nav__list .main-nav__item {
  margin-left: 36px;
  padding-bottom: 10px;
}
.main-nav__list:first-child {
  margin-left: 0;
}

.main-nav__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  width: 100%;
  line-height: 30px;
  padding-top: 22px;
  padding-bottom: 23px;
  background-color: transparent;
  text-transform: uppercase;
  text-decoration: none;
}
.promo__container {
  padding-top: 110px;
  padding-left: 80px;
  padding-bottom: 266px;
}

.promo__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 60px;
  font-weight: 500;
  color: #000000;
  margin: 0;
  padding-bottom: 30px;
  line-height: 60px;
}

.promo__text {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #000000;
  margin: 0;
  line-height: 20px;
  padding-bottom: 15px;
  text-transform: uppercase;
}
