@import "./common/variables.scss";
@import "./common/global.scss";
@import "./common/fonts.scss";
/* GLOBAL */
@import "./global/mixins.scss";

@import "./common/button.scss";

/* BLOCKS */
@import "./blocks/header.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/promo.scss";
@import "./blocks/examples.scss";
@import "./blocks/advantages.scss";
@import "./blocks/program.scss";
