// Шрифты
@import "./common/fonts.scss";
// Переменные
@import "./common/variables.scss";
//Кнопка
@import "./common/button.scss";
// Базовые параметры страницы
@import "./global/global.scss";
// Миксины (примеси)
@import "./global/mixins.scss";
// Главная страница
@import "./blocks/header.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/promo.scss";
@import "./blocks/program.scss";
@import "./blocks/examples.scss";
@import "./blocks/advantages.scss";
