.advantages__container {
  margin-bottom: 42px;
}
.advantages__title {
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 38px;
}
.advantages__list {
  @include reset-list;
  display: grid;
  column-gap: 60px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 70px;
}
