.contacts {
  position: relative;
  background-color: $white;
}

.contacts--background {
  background-color: $gray;
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 28px; // отступ блока contacts
  padding-bottom: 26px; // отступ от блока contacts до блока map
  z-index: 3;
}

.contacts__text {
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  width: 140px;
  text-transform: uppercase;
  color: $dark-black;
}

.contacts__address {
  font-family: $arial;
  line-height: 20px;
  margin: 0;
  padding-right: 5px;
}

.contacts__container {
  position: relative; // позиция для интерактивной карты
  width: 100%;
}

.contacts__interactive-map {
  position: absolute;
  top: 0;
  width: 100%;
  height: 362px;
  border: none;
  z-index: 2;
}

.contacts__map-image {
  display: block;
  margin: 0 auto;
}

.contacts__map-placeholder {
  width: 100%;
  height: 362px;
  background-color: #68b738;
}
