.example__wrapper {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 0 110px;
  max-width: 1440px;
}
// .example__title {
//   font-size: 36px;
//   line-height: 60px;
//   padding-top: 60px;
//   margin-bottom: 86px;
// }
