.page-header--index {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 50%;
    z-index: -1;
    height: 694px;
    background-image: $gradient, url("/source/img/raster/index-background-desktop-cat@1x.jpg");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
  }
}

.page-header__container {
  @include flex-center;
  justify-content: space-between;
  padding-top: 19px;
  padding-bottom: 20px;
}

.page-header__logo {
  @include flex-center;
  position: relative;
  height: 75px;
  box-sizing: content-box;
}
