// Блок навигации внутри header
.main-nav {
  position: relative;
  width: auto;
  margin: 0 -20px;
  background-color: $white;

  @include tablet {
    margin: 0;
  }

  @include desktop {
    background-color: transparent;
  }
}

.main-nav__list {
  @include reset-list;
  padding-top: 5px;

  @include tablet {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 510px;
    padding-top: 16px;

    .main-nav__item {
      margin-left: 36px;
      padding-bottom: 10px;
    }

    &:first-child {
      margin-left: 0;
    }
  }

  @include desktop {
    padding-top: 10px;
    width: 610px;
  }
}

@include desktop {
  .main-nav__list--index a {
    color: $white;
  }

  .main-nav__list--index .main-nav__link--active::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    top: 35px;
    border-bottom: 2px solid $white;
  }
}

.main-nav__item {
  position: relative;
  border-top: 1px solid $extra-gray;
  text-align: center;

  @include tablet {
    border: none;
  }
}

.main-nav__link {
  font-weight: $font-weight-medium;
  width: 100%;
  font-size: 20px;
  line-height: 20px;
  padding-top: 22px;
  padding-bottom: 23px;
  background-color: transparent;

  @include tablet {
    font-weight: $font-weight-normal;
    font-size: 18px;
    line-height: 24px;
    padding: 0;
  }

  @include desktop {
    font-size: 20px;
    line-height: 30px;
  }
}

.main-nav__link:hover,
.main-nav__link:focus {
  opacity: 0.6;
}

.main-nav__link:active {
  opacity: 0.3;
}

