.main-nav {
  position: relative;
  width: auto;
  margin: 0 auto;
}
.main-nav__list {
  @include reset-list;
  padding-top: 5px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 1200px;
  .main-nav__item {
    margin-left: 36px;
    padding-bottom: 10px;
  }
  &:first-child {
    margin-left: 0;
  }
}
.main-nav__link {
  @include font-oswald(20px, $font-weight-normal, $white);
  width: 100%;
  line-height: 100%;
  line-height: 30px;
  padding-top: 22px;
  padding-bottom: 23px;
  background-color: transparent;
  text-transform: uppercase;
  text-decoration: none;
}
