.page-footer {
  background-color: $gray;
}

.page-footer__container {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 22px;
}

.page-footer__logo {
  padding-bottom: 28px;
  cursor: pointer;
}

.page-footer__social {
  padding-top: 20px;
  padding-bottom: 15px;
}

.page-footer__copyright {
  position: relative;
  display: flex;
  font-family: $arial;
  color: $dark-gray;
}

.page-footer__copyright-name {
  padding-top: 29px;
  text-transform: none;
}

.page-footer__copyright-icon {
  position: absolute;
  top: 18px;
  right: -8px;
  fill: $over-gray;
  width: 43px;
  height: 42px;
}
