.promo__container {
  padding-top: 110px;
  padding-left: 80px;
  padding-bottom: 266px;
}

.promo__title {
    @include caption;
    @include font-oswald(60px, $font-weight-medium, $black);
  font-size: 60px;
  line-height: 60px;
  color: $black;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  margin: 0;
  padding-bottom: 30px;
}

.promo__text {
  @include font-oswald(20px, $font-weight-normal, $black);
  margin: 0;
  padding-bottom: 15px;
  text-transform: uppercase;
}
