.promo {
  background-size: cover;
  background-position: center;
  background-image:
    $gradient,
    url("../img/raster/index-background-mobile-cat@1x.jpg");
  background-repeat: no-repeat;
  background-color: rgba(104, 183, 56, 0.85);
  height: 302px;
  position: relative;
  margin-bottom: 200px;

  @include retina() {
    background-image:
      $gradient,
      url("../img/raster/index-background-mobile-cat@2x.jpg");
  }

  @include tablet {
    position: relative;
    background: none;
    height: auto;
    padding-bottom: 526px;
    margin-bottom: 0;
  }

  @include desktop {
    height: auto;
    padding-bottom: 267px;
    margin-bottom: 0;
  }
}

.promo__container {
  padding-top: 28px;
  margin-bottom: 22px;

  @include tablet {
    padding-top: 36px;
    padding-left: 112px;
    margin-bottom: 0;
  }

  @include desktop {
    padding-top: 86px;
    padding-left: 190px;
    margin-bottom: 0;
  }
}

.promo__button {
  margin: 0;
  width: 100%;
  font-size: 14px;
  line-height: 18px;
  // max-width: 320px;
  // padding: 0 20px;

  @include tablet {
    position: relative;
    font-size: 20px;
    height: 54px;
    padding: 19px 5px;
    min-width: 244px;
    width: 244px;
    z-index: 2;
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .promo__button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -48%;
    width: 100%;
    max-width: 280px;
    z-index: 2;
  }

  .promo__container {
    margin-bottom: 115px;
  }
}

.promo__title {
  @include caption;
  margin: 0 auto;
  margin-bottom: 25px;
  font-weight: $font-weight-normal;
  font-size: 36px;
  line-height: 36px;
  width: 250px;
  text-align: center;
  color: $white;
  z-index: 2;

  @include tablet {
    position: relative;
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    margin-bottom: 41px;
    margin-left: 5px;
    width: 420px;
    z-index: 2;
    color: $black;
    text-align: left;
  }

  @include desktop {
    margin-left: 0;
    margin-bottom: 40px;
  }
}

.promo__text {
  margin: 0 auto;
  margin-bottom: 28px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: $white;

  @include tablet {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    margin-bottom: 49px;
    margin-left: 5px;
    z-index: 2;
    color: $black;
    text-align: left;
  }

  @include desktop {
    margin-left: 0;
    margin-bottom: 52px;
  }
}

.promo__image {
  display: none;
  margin: 0 auto;
  margin-bottom: 4px;

  @include tablet {
    display: block;
    position: absolute;
    top: 237px;
    left: -1px;
    right: 0;
    margin-bottom: 0;
    z-index: -1;
  }

  @include desktop {
    top: 4px;
    right: -229px;
  }
}

.promo::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(40%);
  bottom: -10%;
  width: 260px;
  height: 270px;
  background-image: url("../img/raster/index-can-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 1;
}

@include retina() {
  .promo::before {
    background-image: url("../img/raster/index-can-mobile@2x.png");
  }
}

@include tablet {
  .promo::before {
    display: none;
  }

  .promo__button {
    margin-top: 0;
  }
}

@include desktop {
  .promo::before {
    display: none;
  }
}
