.social {
  border-top: 1px solid $medium-gray;
  border-bottom: 1px solid $medium-gray;
}

.social__list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.social__item {
  width: 21px;
  margin: 0 18px;
  padding-bottom: 5px;

  &:nth-child(2) {
    padding-top: 3px;
  }
}

.social__icon--vkontakte {
  width: 20px;
}

.social__icon--instagram {
  width: 20px;
}

.social__icon--facebook {
  width: 12px;
}
